@font-face {
  font-family: "spicy rice";
  src: url(../font/SpicyRice-Regular.woff2);
  font-display: swap;
}
@font-face {
  font-family: "poppins";
  src: url(../font/Poppins-Regular.woff2);
}
@font-face {
  font-family: "inter";
  src: url(../font/Inter-VariableFont_opsz\wght.woff2);
}
